*
{
}

.no-tags
{
	font-style: italic;
	color: grey;
}

.editable-tags
{
	margin-left: 15px;
}

.editable-tags .editable-tags-label
{
	cursor: pointer;
}

.tag-search-form
{
	margin-top: 10px;
}

.add-tag-dialog-input,
.add-title-dialog-input,
.tag-search-form-input,
.editable-tags-form-input
{
	padding: 6px 8px;
	vertical-align: top;
}

.add-tag-dialog-submit,
.add-title-dialog-submit,
.tag-search-form-submit,
.editable-tags-form-submit,
.select-tags-button
{
	margin-left: 4px;
	padding: 8px 12px;
	vertical-align: top;
	cursor: pointer;
}

.select-tags-dialog label
{
	padding-left: 3px;
}

.select-tags-dialog > form > div.accordion
{
	margin-bottom: 20px;
}

.select-tags-dialog > form > div.accordion > div
{
	height: 300px;
}

.photo-thumbnail
{
	margin: 5px;
	display: inline-block;
	vertical-align: top;
}

.photo-thumbnail img
{
	max-width: 300px;
	max-height: 220px;
}

.inline-block
{
	display: inline-block;
	vertical-align: top;
}

.photo-thumbnail-image
{
	padding: 7px;
	display: inline-block;
}

.photo-thumbnail-title
{
	margin-bottom: 5px;
}

.photo-thumbnail-title,
.photo-thumbnail-tags
{
	margin-left: 10px;
}

.selectable-photo-thumbnails
{
}

.selectable-photo-thumbnails .selectable-item
{
}

.selectable-photo-thumbnails .selectable-item.ui-selecting
{
	background: #428bca;
}

.selectable-photo-thumbnails .selectable-item.ui-selected
{
	color: white;
	background: #357ebd;
}

.sidebar
{
	position: fixed;
	left: 20px;
	top: 50%;
}

.info-header
{
	margin-top: 30px;
}

.info-header .select-all-link
{
	margin-left: 50px;
}

.info-header .select-none-link
{
	margin-left: 30px;
}

.photo-thumbnail-links
{
	margin-right: 20px;
	float: right;
	visibility: hidden;
}

.photo-thumbnail:hover .photo-thumbnail-links
{
	visibility: visible;
}

.photo-thumbnail-links a
{
	display: inline-block;
	font-size: 20px;
}

.full-photo-dialog img
{
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.full-photo-dialog-title
{
	margin-bottom: 10px;
	font-weight: bold;
}

.full-photo-dialog-tags
{
	margin-bottom: 5px;
}

.full-photo-dialog .full-photo-dialog-controls
{
	margin-top: 10px;
	text-align: center;
	font-size: 32px;
}

.full-photo-dialog .full-photo-dialog-controls > *
{
	padding: 5px;
}

a.open-photo-link,
a.add-title-link
{
	margin-bottom: 10px;
	display: block;
	cursor: pointer;
}

.tag-cloud
{
	margin-top: 50px;
}

.tag-cloud .tag-cloud-item
{
	padding-left: 4px;
	padding-right: 4px;
}

.admin-panel > *
{
	margin-right: 20px;
}

a
{
	cursor: pointer;
}

.cursor-pointer
{
	cursor: pointer;
}

.form
{
	width: 500px;
}

.link-pager-block
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.link-pager
 {
	 margin: 0;
	 padding: 0;
	 display: inline;
	 vertical-align: top;
 }

ul.link-pager
{
	list-style-type: none;
}

ul.link-pager > li
{
	padding: 5px;
	display: inline;
}

ul.link-pager > li.hidden,
ul.link-pager > li.previous,
ul.link-pager > li.next
{
	display: none;
}

ul.link-pager > li.selected
{
	font-weight: bold;
}

.display-none
{
	display: none;
}
